.right-container {
    padding-left: 2rem;
    padding-top: 2rem;
}

.content {
    display: flex;
    min-height: 8rem;
    flex-direction: row;
    margin-bottom: 2rem;
}

.category {
    font-weight: bolder;
    font-size: 1.8rem;
    width: 17rem;
}

.content-desc {
    font-size: 1.1rem;
    line-height: 2rem;
    /* font-weight: bold; */
}
.content-skill {
    font-size: 1.1rem;
    line-height: 2rem;
    width: 35.5rem;
    padding-right: 3rem;
}

.skilled {
    float: right;
}

.content-hobby {
    width: 35.5rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}
