.container {
    background-color: rgb(227, 221, 212);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.center-bar {
    margin-top: 8vh;
    width: 0.2%;
    height: 85vh;
    background-color: rgba(207, 203, 193, 1);
}

.contents {
    padding-top: 8vh;
    width: 48%;
    height: 85vh;
}
